.back-btn {
    position: absolute;
    top: 20px;
    left: 10px;
    background: rgba(255, 0, 0, 0.96);
    padding: 10px 18px;
    border-radius: 12px;
    backdrop-filter: blur(8px);
    text-decoration: none;
    font-size: 40px;
    color: #fff;
    border: 1px solid rgb(255, 0, 0);
    transition: 0.3s ease;
}

.back-btn:hover {
    background: rgba(255, 255, 255, 0.25);
    transform: translateX(-4px);
}
